:root {
  /* light theme */
  --icons: #51585c;
  --white: #fff;
  --gray: #d1d7db;
  --gray-light: #f0f2f5;
  --gray-light-2: #F6F6F6;
  --text-disabled: #999999;
  --status: #667781;
  --scroll-bar: #ced0d1;

  /* dark theme */
  --dark-icons: #AEBAC1;
  --dark-scroll-bar: #8696A0;
  --green: #2A3C46;
  --dark-green: #202C33;
  --black: #111B21;
}